.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: 'MuseoModerno', cursive;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}

.estilo-botao .btn-default {
    background-color: #4430ce;
    color: #e8d0d0;
    border-color: #ddd;
}

.estilo-botao  .btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: #4f74e6;
}
